@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/* style general */
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* #ensemble{
    width: 99%;
} */
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: border-box;
}
::before,::after{
    box-sizing: border-box;
}
.cv{
    text-decoration: none;
    background-color: white;
    border: none;
    color: rgb(236, 24, 57);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    top: 270px;
    width: 170px;
}
.cv:hover{
    background-color: rgb(236, 24, 57);
    color: white;
    font-size: 25px;
    width: auto;
    height: auto;
    border-radius: 5px;
    transition: 0.2s;
}
.accueil{
     background-color: #EEEEEE; 
     min-height: 100vh;
     display: block;
    /* position: fixed; */
    margin-left: 2.2%;
    padding: 0 30px;
    }
.section .container{
   
}

.main-content{
        /* background-color: #f2f2fc; */
        position: relative;
        float: right;
        width: 77.4%;
        right: 0;
}
.container{
    max-width: 100%;
    width: 100%;
    margin: auto;
}
.ombre-noir{
    -webkit-box-shadow: 0 0 20px rgba(48.46.77.0.15);
    box-shadow: 0 0 20px rgba(48.46.77.0.15);
}
.hidden{
    /* display: none!important; */
}
.titre-sec h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
}
.titre-sec h2::before{
    content: '';
    height: 4px;
    width: 300px;
    position: absolute;
    top: 100%;
    left: 0;
}
.titre-sec{
    padding-top: 5.5%;
    padding-bottom: 70px;
    margin-left: 60px;
    width: 100%;
}
.rangé{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.left{
    padding-left: 15px;
    padding-right: 15px;
}
#proposec{
    height: 1000px;
    width: 97.75%;
    position: relative;
    right: 0px;
    background-color:#ffff ;
}
/* barre de navigation */
.côter{
    width: 20%;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right:1px solid #e8defc ;
    padding: 2.15%;
}
.côter .titre{
    word-break: normal;
    padding: 30px 0;
    width: auto;
    height: auto;
}
.côter .titre a h2{
    word-break: break-word;
    max-width: auto;
}
.côter .titre a {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 25px ;
    line-height: 90px;
    width: auto;
}
.côter .titre a::before {
    border-left: 4px solid #ec1839;
    border-top: 4px solid #ec1839;
}
.côter .titre a::before{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.côter .titre a::after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.côter .nav-toggler{
    height: 40px;
    width: 40px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 21.1%;
    top: 3%;
    z-index: 11;
    border-radius: 5px; 
    background-color: #fdf9ff;
    /* display: -ms-flexbox;
    display: flex; */
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.côter .nav-toggler span{
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;

}
.côter .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0%;
}
.côter .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: -6px;
    left: 0%;
}
.côter .nav{
    list-style: none;
    margin: 80px 0;
    padding: 0;    
}
.côter .nav li{
    display: block;
}
.côter .nav li a{
    font-size: 20px;
    font-weight: 600;
    color: #302e4d;
    text-decoration: none;
    line-height: 45px;
    display: block;
    border-bottom:1px solid #e8defc ;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}
.côter .nav li a:hover{
    padding-left: 5px;
}
.côter .nav li a .fa{
    margin-right: 5%;
}
.côter .copyright-text{
    font-size: 13px;
    color: #7d7d7d;
    top: 100px;
}
/* accueil */

.accueil{
    position: relative;
    right: 0%;
    display: -ms-flexbox;
    display: flex;
}
.accueil .intro{
    text-align: center;
    background-color:#EEEEEE ; 
}
.accueil .intro img{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    display: inline-block;
    border:8px solid #ffffff;
}
.accueil .intro h1{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 20px  0 5px;
}
.accueil .intro p{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
}

/* a propos  */
.txt-sec{
    float: left;
    position: relative;
    left: 5%;
    width: 40%;
    height: 400px;
}
.txt-sec p{
    font-size: 23px;
}
.imgap{
    position: relative;
    float: right;
    width: 50%;
    background-color: red;
    right: -9%;
    height: auto;
}
.imgaps{
    width: 100%;
    height: auto;
}
/* BTS SIO */
#btssio{
    top: 150px;
    position: relative;
    width: 97.6%;
    height: auto;
    left: 35px;
    height: 1100px;
}
.bts{
    position: relative;
    top: 6.5%;
    margin-left: 50px;
}
.bts h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
}
.bts h2::before{
    content: '';
    height: 4px;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: red;
}
.bts h3{
    color: #302e4d;
    font-size: 40px;
    font-weight: 200;
}
.bts h4{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
}
.bts p{
    font-size: 30px;
    color: #636363;
}
.slam{
    border: solid 1.5px;
    border-color: #E7E7E7;
    border-radius: 10px;
    position: relative;
    top: 15%;
    width: 45%;
    height: auto;
    float: right;
    right: 3%;
    background-color: #F2F2F2;
}
.sisr{
    border: solid 1.5px;
    border-color: #E7E7E7;
    border-radius: 10px;
    position: relative;
    top: 15%;
    width: 45%;
    height: auto;
    float: left;
    left:  3%;
    background-color: #F2F2F2;
}
.slam h2{
    color: red;
    position: relative;
    text-align: center;
    top: 2%;
    font-size: 40px;
}
.sisr h2{
    color: red;
    position: relative;
    text-align: center;
    top: 2%;
    font-size: 40px;

}
.slam p{
    position: relative;
    text-align: center;
    font-size: 25px;
    color: #636363;
}
.sisr p{
    position: relative;
    text-align: center;
    font-size: 25px;
    color: #636363;
}
/* hr */
hr{
    text-align: center;
    position: relative;
    left: 2.8%;
    background-color: red;
    width: 95%;
    height: 1px;
}
/* veille */
#veille{
    top: 250px;
    position: relative;
    width: 95.6%;
    height: auto;
    left: 35px;
    height: 1100px;
}
.veilletech{
    position: relative;
    top:2.5%;
    margin-left: 3.5%;
    max-width: 90%;
}
.veilletech h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative; 
}
.veilletech h2::before{
    content: '';
    height: 4px;
    width: 710px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: red;
}
.veilletech h4{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
}
.veilletech p{
    font-size: 30px;
    color: #636363; 
}
p.pqveille{
    color: #992929;
}
/* btnveille */
.divbtn{
    height: autoS;
    position: relative;
    top: 10%;
}
.divbtn h4{
    left: 3.8%;
    font-size: 30px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
}

/* skill */
#skill{
    left: 2.3%;
    position: relative;
    top: 300PX;
    width: 97.3%;
    height: 1300px;
}
.skill1{
    top: 6%;
    position: relative;
    width: 97%;
    height: 50px;
}
.skill1 h2{
    left: 3.5%;
    font-size: 40px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative; 
}
.skill1 h2::before{
    content: '';
    height: 4px;
    width: 235px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: red;
}
.skill1 h4{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
    position: relative;
    left: 3.3%;
}
.container {
    width: 90%;
    background-color: #ddd;
    position: relative;
    left: -1.5%;
  }
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
  
.html {
    width: 90%; 
    background-color: #4CAF50;
}
.css {
    width: 80%; 
    background-color: #2196F3;
}
.js {
    width: 65%; 
    background-color: #f44336;
}
.php {width: 60%; 
    background-color: #808080;
}
.img{
    height: auto;
}
.img .html{
    position: relative;
    left: 2.8%; 
    width: 350px;
    height: auto;
} 
.img .boo{
    position: relative;
    left: 4%; 
    width: auto;
    height: auto;
} 
.img .vm{
    position: relative;
    left: 6%; 
    width: auto;
    height: auto;
}
.img .php{
    position: relative;
    left: 8%; 
    width: auto;
    height: auto;
}
.img .sql{
    position: relative;
    left: 2.8%; 
    width: auto;
    height: auto;
}
.img .xlm{
    position: relative;
    left: 4%; 
    width: auto;
    height: auto;
}
.img .java{
    position: relative;
    left: 6%; 
    width: auto;
    height: auto;
}
.img .vs{
    position: relative;
    left: 8%; 
    width: auto;
    height: auto;
}
.img .andro{
    position: relative;
    left: 2.8%; 
    width: auto;
    height: auto;
}
.img .E3{
}